.prvi{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:  antiquewhite;
}
div{
    margin-right: 100px;
}
button{
    background-color: blueviolet; 
    color: white;
    margin: 3px;
    border-radius: 2px;
    width: 90px;
    height: 30px;
}