body{
    margin: 0%;
    display: flex;
    flex-direction: column;
}
header{
    padding-left: 5cm;
    padding-right: 5cm;
    background-color: #293f50;
    width: 100%;
}
h1{
    float: left;
    width: 40%;
}
a{
    text-decoration: none;
    color: white;
    text-align: right;
}
h3{
    text-align: right;
    color: #888;
    width: 60%;
}
.menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}
section{
    background-color: #293f50;
}
h2{
    color: #888;
    text-align: center;
}
p{
    color: white;
    text-align: center;
    margin-bottom: 4rem;
}
.btn{
    border: solid 1px;
    border-radius: 5%;
    text-align: center;
    padding: 1rem;
    position: relative;
    left: 45%;
}
.blank{
    background-color: #293f50;
    width: 100%;
    height: 3rem;
}
.kontejner{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.prvi, .drugi, .treci{
    width: 300px;
}
img{
    width: 300px;
    height: 200px;   
}
.txt{
    color: #888;
}
footer{
    background-color: #293f50;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ftr{
    display: flex;
    justify-content: space-between;
}