header{
    background-color: #be3144;;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
    position: fixed;
}
.header-buttons{
    display: flex;
    height: 100%;
    width: 90%;
    justify-content:flex-end;
    align-items: center;
    color: white;
}
span:hover, a:hover{
background-color: gray;
}
a{
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    text-decoration: none;
}
.section{
    width: 100%;
    height: 100vh;
    background-color: #303841;

}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    box-sizing: inherit;
    margin-top: 50vh;
    color: white;
}
h2{
    color: #be3144;
    text-align: center;
    font-style: italic;
    font-weight: 200;
}
section{
    width: 100%;
    background-color: #45567d;
}
.naslov{
    margin: 4rem;
    margin-top: 10vh;
}
hr{
    width: 50%;
    text-align: center;
}
img{
    width: 350px;
    aspect-ratio: 1/1;
    padding: 1rem;
}
button{
    margin: 6rem;
    align-items: center;
}
